//
// Variables
// --------------------------------------------------

// Brand colors
$brand-primary 			=#002157;

// buttons
$btn-default-color		= #333;
$btn-default-bg     	= #fff;
$btn-default-border 	= #ccc;