<!-- MAIN TITLE - START -->
	<h1 class="text-primary text-bolder m-t-sm m-b-lg" ng-bind="vm.settings.title"></h1>
<!-- MAIN TITLE - END -->

<!-- WIDGET - START -->
	<my-portlets portlet-css-class="portlet--gray portlet--bordered m-t m-b-xl" portlet-title="Titulo Caja" portlet-body="app/components/entidad/blocks/cajaBody.html"></my-portlets>
<!-- WIDGET - END -->

<!-- ACCORDION - START -->
  <uib-accordion close-others="oneAtATime">
    <div uib-accordion-group class="panel-default m-t-lg m-b" is-open="status.open">
      	<uib-accordion-heading>
        	Total items: <span ng-bind="vm.total"></span> 
        	<button type="button" class="pull-right btn btn-default btn-sm panel__btntoggle"> <span ng-bind="status.open ? 'Cerrar' : 'Abrir'"></span> </button>
      	</uib-accordion-heading>
		<form action="#" class="horizontal-form" ng-include="'app/components/entidad/blocks/formBusqueda.html'"> </form>
    </div>
  </uib-accordion>
<!-- ACCORDION - END -->

<!-- DATATABLE - START -->
	<div class="grid-table table-responsive">
		<table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" class="table table-nosort table--bghead"></table>
	</div>
<!-- DATATABLE - END -->