.panel-heading
    padding: 13px 17px  17px;
.panel-default>.panel-heading 
    color: #333;
    background-color: #f6f6f8;
.panel-default,.panel-default>.panel-heading+.panel-collapse>.panel-body,.panel-default>.panel-heading,.panel-heading
    border: none;
.panel-default>.panel-heading+.panel-collapse>.panel-body
    background-color: #F0EFF1;
.panel__btntoggle
    top: -5px;
    position: relative;