.btn.btn--icon
	&:hover .glyphicon
	&:focus .glyphicon
		transition: all 0.5s
		color: #000
	.glyphicon
		vertical-align: text-top
		color: #DDDEDD
		transition: all 0.5s

.btn.btn--icon
	font-size: 22px
	padding: 1px 14px 0px