/* Portlet */
.portlet 
    background: #fff
    /* Portlet Title */
    > .portlet__title 
        padding: 20px 15px 15px
        border-bottom: 2px solid #e6e6e8
        overflow: auto
        > .caption 
            float: left
            display: inline-block
            font-size: 18px
            line-height: 18px
            .caption__subject 
                color: #666
                font-size: 16px
                font-weight: 600
    > .portlet__body
        padding: 5px 15px
.portlet--gray 
    background: #f7f7f7
.portlet--bordered 
    border: 1px solid #d2d2d4