<div class="row">
	<div class="col-md-4 m-t-sm m-b-lg">
		<h4>Lorem ipsum</h4>
		<ul class="no-list-style">
			<li>-Dolor sit amet consectetur adipiscing elit</li>
			<li>-Dolor sit amet consectetur adipiscing elit</li>
			<li>-Dolor sit amet consectetur adipiscing elit</li>
			<li>-Dolor sit amet consectetur adipiscing elit</li>
		</ul>
	</div>
	<div class="col-md-8 m-t m-b-sm">
		<div class="bg-white p-sm p-t-lg p-b-lg border-radius-xxs bordered-solid-xxs">
			<div class="row">
				<div class="col-md-8">
					<ul class="no-list-style list-style-1">
						<li>Dolor sit amet, consectetur adipiscing elit. Duis non tincidunt nulla. Morbi at sapien viverra, porttitor eros a</li>
					</ul>
				</div>

				<div class="col-md-4 visible-lg visible-md">
					<ul class="no-list-style">
						<li class="word-break">-$200.000.000.000.000.000</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<ul class="no-list-style list-style-1">
						<li>Dolor sit amet, consectetur adipiscing elit. Duis non tincidunt nulla. Morbi at sapien viverra, porttitor eros a</li>
					</ul>
				</div>

				<div class="col-md-4 visible-lg visible-md	">
					<ul class="no-list-style">
						<li class="word-break">-$200.000.000.000.000.000</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>