.sprite
    background-image: url(../img/logo-sprite.png);
    background-repeat: no-repeat;
    display: block;
.sprite.sprite--logo 
    width: 200px;
    height: 35px;
    background-position: 0px 0px;
    